*.a
*.cmake
CMakeCache.txt
CMakeFiles
Makefile


pvpgn/conf/bnetd_default_user.plain
pvpgn/conf/*.txt
pvpgn/conf/*.conf

pvpgn/config.h
pvpgn/src/bnetd/bnetd
pvpgn/src/bniutils/bni2tga
pvpgn/src/bniutils/bnibuild
pvpgn/src/bniutils/bniextract
pvpgn/src/bniutils/bnilist
pvpgn/src/bniutils/tgainfo
pvpgn/src/bnpass/bnpass
pvpgn/src/bnpass/sha1hash
pvpgn/src/bnpcap/bnpcap
pvpgn/src/bntrackd/bntrackd
pvpgn/src/client/bnbot
pvpgn/src/client/bnchat
pvpgn/src/client/bnftp
pvpgn/src/client/bnstat
pvpgn/src/test/bigint
pvpgn/src/test/bnetsrp3_test
pvpgn/src/tinycdb/bncdb

